.swiper {
    width: 100%;
    height: 450px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slider .swiper-pagination {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 0.3rem;
    left: -10px !important;
  }

  .swiper-pagination-bullet {
    border: 1px solid white;
    transform: scale(1) !important;
  }

  .swiper-pagination-bullet-active {
    border: none;
  }

  .product-slider .swiper-pagination-bullet {
    border: none;
  }